/* 
* Variables
*/

:root {
  --background: #FF6300;
  --accent: #000000;
  --rgba: rgba(0, 0, 0, .6);
  --font: #000000;
  --accent-font: #ffffff;
  --link-hover: #63236E;
  --body-font: 'Poppins', sans-serif;
  --headline-font: 'PT Serif', serif;
}

/* Base */
body {
  width: 100%;
  background-color: var(--background);
  color: var(--font);
  font-size: 90%;
}

@media screen and (min-width: 56.250rem) {

  body {
    font-size: 100%;
  }
}

@media screen and (min-width: 112.500rem) {

  body {
    width: 112.500rem;
    margin: 0 auto;
  }
}

img {
  width: 100%;
  height: auto;
}

p,
a {
  color: var(--font);
  font-family: var(--body-font);
  font-size: 1.1rem;
}

a:hover {
  color: var(--link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font);
  font-family: var(--headline-font);
}

/* Header */

header {
  margin: 0;
  width: 100%;
  min-height: 75vh;
  background-image: url("../images/leximphoto-427140-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1,
header p,
header a {
  margin: 0;
  color: var(--accent-font);
}

header p {
  font-size: 3rem;
}

header a {
  font-size: 12rem;
  text-decoration: none;
  font-family: 'Dawning of a New Day', cursive;
}

header a:hover {
  color: var(--accent-font);
}

/* 
Navigation
*/

nav {

  background: var(--accent);
  margin: 0;
  padding: .5rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--accent-font);
  font-size: 1.4rem;
}

/* 
Main content
*/

main {
  padding: 0 .8rem;
}

main section {
  width: 80%;
  margin: 1rem auto;
}

.text-box img {
  max-width: 350px;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.reverse img {
  float: right;
  margin: 0 0 1rem 1rem;
}

/* 
  Footer
*/

footer {
  background-color: var(--accent);
  padding: 0 .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social {
  flex: 0 0 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

footer p,
footer a {
  color: var(--accent-font);
}